@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div>
    <h2>
        Biography
    </h2>

    <p>
        Not certain what to include in here. At the time of my writing this I'm a pharmacy technician. I'm trying to transition my career
        to software development.
    </p>
</div>

<div>
    <h2>
        Contact Information
    </h2>
    <p>
        Phone number: (313)-867-5309
    </p>
    <p>
        <a class="btn btn-default" href="https://github.com/hordynski">Github &raquo;</a>
    </p>
    <p>
        <a class="btn btn-default" href="https://linkedin.com/in/hordynski/">LinkedIn &raquo;</a>
    </p>
</div>