@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A bit about myself.</h1>
    <p class="lead">Hi I'm Zachary Hordynski, however I prefer to go by Zack.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blogging</h2>
        <p>
            Honestly I don't blog at all so there is nothing for me to include in here.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Development</h2>
        <p>I'm very new to software development. However I find it fascinating and fun.</p>
    </div>
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>I come from a small town called Hamtramck.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Hamtramck,_Michigan">Learn more &raquo;</a></p>
    </div>
</div>