
@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

<div>
    <h1>
        Websites
    </h1>

    <p>
        <a class="btn btn-default" href="https://github.com/hordynski">Github &raquo;</a>
    </p>
    <p>
        <a class="btn btn-default" href="https://linkedin.com/in/hordynski/">LinkedIn &raquo;</a>
    </p>
</div>